<!DOCTYPE html>
<html>
<head>
  <title>Star Tracker</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <%- include('../partials/header') %>
  <div class="container">
    <%- body %>
  </div>
  <%- include('../partials/footer') %>
</body>
</html>
